ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
#logo {
  align-items: center;
}
ul li {
  padding: 5px;
  margin-left: 10px;
}

.header-nav {
  justify-content: space-between;
}
.header-nav ul {
  /* justify-content: center; */
  list-style-type: none;
  align-items: center;
 
}


.header-nav li {
  padding: 4px;
  cursor: pointer;
  color: white;
  border: 0px solid #005586;
  background-color: #005586;
  border-radius: 3px;
  
}

.header-nav li:hover {
  background-color: #2d85b8;
  transform: scale(1.1);
  transition: 0.3s;
 
}



