.profile-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0 2rem;
  margin-top: 30%;
}

.profile {
  border: 0px solid #FBD2C9;
  padding: 0 1rem;
  box-shadow: 3px 3px 3px rgb(90, 90, 89);
  border-radius: 10px;
  background-color: #e7dffbef;
  
}
h2 {
  font-family: 'Bai Jamjuree', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
}

h3 {
  font-family: 'Bai Jamjuree',
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;

}
p {
  width: 100%;
  object-fit: cover;
}
