.log-in  {
  background-color: #0055866d;
  border: 0px solid whitesmoke;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #F6F6F2;
}

.create-profile {
  background-color: #0055866d;
  border: 0px solid whitesmoke;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #F6F6F2;
}

.sign-up {
  background-color: #0055866d;
  border: 0px solid whitesmoke;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #F6F6F2;
}